{% load static %} <!-- Подключаем папку static -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
    <title>Book Info</title>
</head>
<body>
    <div class="main-screen-logged">
    <header class="header">
            <div class="logo-and-pages">
                <div class="logo">
                    <div class="overlap-group">
                        <img class="img" src="{% static 'main/assets/logo.png' %}"/>
                        <div class="text-wrapper">Books Recommendation System</div>
                    </div>
                </div>
                <div class="pages">
                    <div class="div"><a href="/{{ user_id }}">Recommended</a></div>
                    <div class="div"><a href="/{{ user_id }}/history">Reading History</a></div>
                    <div class="div"><a href="/search">Search</a></div>
                </div>
            </div>
            <div class="login-button">
                <div class="overlap">
                    <a href="/login">
                        <div class="group"><img class="user" src="{% static 'main/assets/user%201.svg' %}"/></div>
                        <div class="text-wrapper-2">
                            {% if user_id %}
                                {{ user_id }}
                            {% else %}
                                Log in
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </header>
    <div class="book-container">
        <div class="book-image">
            <img src="{{ book.image_l }}" alt="Book Image">
        </div>
        <div class="book-info">
            <h1>{{ book.title }}</h1>
            <p>Author: {{ book.author }}</p>
            <p>Genre: {{ book.genre }}</p>
            <p>Year of 1st publication: {{ book.year_of_1st_publication }}</p>
            <h2>Description:</h2>
            <p>{{ book_texts.description }}</p>

            <h2>Summary:</h2>
            <p>{{ book_texts.summary }}</p>
        </div>
    </div>

    <h2>Reviews:</h2>
    <ul>
        {% for review in reviews %}
            <li>{{ review.review }}</li>
        {% endfor %}
    </ul>
    <div>
</body>