body {
    margin: 0;
    background-color: #FCFCFC;
}
.frame-22 {
    margin-left: 25%;
    margin-right:25%;
    margin-top: 5%;
    position: relative;
    display: flex;
    padding: 1rem 1.0625rem;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
}
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.rectangle-9 {
    width: 39.1875rem;
    height: 42.5625rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: #FCFCFC;
}
.frame-24 {
    flex-direction: column;
    align-items: center;
    gap: 3.5625rem;
    display: flex;
}
.sign-up-or-log-in {
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.frame-18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    gap: 2.8125rem;
/*    display: grid;*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    grid-template-columns: repeat(1, 1fr);*/
}
.group-8 {
    width: 31.59719rem;
    height: 6.25rem;
}
.group-18 {
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
}
.rectangle-10 {
    background: #f4f4f4;
    position: absolute;
    left: 0rem;
    top: 3rem;
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #848484;
    font-family: "Inter-Regular", sans-serif;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*.john-smith-gmail-com {
    font-family: "Inter-Regular", sans-serif;
    width: 17.79694rem;
    height: 2.03913rem;
    flex-shrink: 0;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}*/
.email {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5.51875rem;
    height: 2.01475rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}
.email2 {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 16rem;
    width: 5.51875rem;
    height: 2.01475rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}
.rectangle-101 {
    background: #f4f4f4;
    position: absolute;
    left: 0rem;
    top: 18.6rem;
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #848484;
    font-family: "Inter-Regular", sans-serif;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rectangle-102 {
    background: #f4f4f4;
    position: absolute;
    left: 0rem;
    top: 10.8rem;
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #848484;
    font-family: "Inter-Regular", sans-serif;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.password {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 8rem;
    width: 5.51875rem;
    height: 2.01475rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}
.frame-13 {
    display: flex;
    padding: 1.3125rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    background: #2C394F;
    position: relative;
    left: 40%;
}
.frame-14 {
    display: flex;
    padding: 1.3125rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.625rem;
    background: #2C394F;
    position: relative;
    left: 40%;
    top: 3rem;
}
.sign-up-log-in {
    color: #fcfcfc;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sign-up-log-in {
    color: #fcfcfc;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.frame-132 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 580px;
    top: 16px;
}
.cross {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: visible;
}
.rectangle-104 {
    background: #f4f4f4;
    position: absolute;
    left: 0rem;
    top: 26.2rem;
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #848484;
    font-family: "Inter-Regular", sans-serif;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rectangle-103 {
    background: #f4f4f4;
    position: absolute;
    left: 0rem;
    top: 33.8rem;
    width: 31.52969rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #848484;
    font-family: "Inter-Regular", sans-serif;
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.age {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 24rem;
    width: 5.51875rem;
    height: 2.01475rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}
.location {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 32rem;
    width: 5.51875rem;
    height: 2.01475rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}
.group-8 > div:last-child {
    margin-top: -1rem; /* Уменьшите это значение, чтобы уменьшить расстояние */
}